.container {
    margin-top: 5%;
}

#cuenta {
    cursor: pointer;
}

.cuadro {
    width: 50%;
    border: 2px solid #8c8b8b;
    text-align-last: center;
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 20%;
    padding-bottom: 2%;
}

.inputc {
    margin-top: 5%;
    margin-bottom: 3%;
}

.btn {
    cursor: pointer;
}

.btn2 {
    cursor: pointer;
}